.bg_luis2{
	background-image: url("../img/mibg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home_position{
	width: 100% !important;
	height: auto !important;
	margin-top: 100px;
}

.me_section{
	margin: 400px 0px;
}

.me_work{
	margin: 400px 0px;
}

@font-face {
font-family: personalregular;
src: url(MADE Canvas Regular PERSONAL USE.otf);
}

@font-face {
font-family: personallight;
src: url(MADE Canvas Light PERSONAL USE.otf);
}
@font-face {
font-family: personalblack;
src: url(MADE Canvas Black PERSONAL USE.otf);
}





/*---menu---*/
.nav-link {
    display: block;
    padding: 0px 0px 0px 40px !important;
}
.mg_menu {
    margin: 0px 0px 0px 40px;
    border-left: 2px solid #000;
}

.github{
    width: 55%;
}
.ws{
    width: 23%;
}

@media(max-width: 768px) {
    .github{
        width: 5%;
    }
    .ws{
        width: 5%;
    }  
    .arrow{
        width: 5%;
    }
    .mune_white {
        background-color: #ffffff !important;
        z-index: 99999999;
    }
}

.navbar-toggler {
    padding: .25rem .75rem !important;
    font-size: 1.25rem !important;
    line-height: 1 !important;
    background-color: #970e0e00 !important;
    border: 1px solid black !important;
    border-radius: 0rem !important;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5) !important;
    border-color: rgba(0, 0, 0, 0.98) !important;
}
/*---menu---*/
.title{
	font-family: personalblack;
    font-size: 242px;
    line-height: 179px;
    font-weight: 900;
    letter-spacing: -20px;
}
@media(max-width: 1024px){
    .title {
        font-family: personalblack;
        font-size: 150px;
        line-height: 100px;
        font-weight: 900;
        letter-spacing: -20px;
    }
}



.back_to_back{
    background-color: #00000050; 
    top: -250px;
    padding: 170px; 
    z-index: -999;
}
@media(max-width: 1024px){
    .back_to_back{
        background-color: #00000050; 
        top: -170px;
        padding: 100px; 
        z-index: -999;
    }
}
.subtitle{
    font-family: personalregular;
    font-size: 64px;
    font-weight: 900;
    line-height: 50px;
}
.subtitle span{
    font-family: personalregular;
    font-size: 64px;
    font-weight: 900;
    line-height: 50px;
    padding-left: 15px;
    color: black;
}
.ptxt{
    font-family: personallight;
    font-size: 22px;
    line-height: 22px;
}

.mune_white{
	background-color: #ffffff50;
    z-index: 99999999;
}
.nav-link{
	font-family: personalregular !importante;
}

/*Cool link text*/
.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}
/*Cool link text*/
/*Cool link title*/
.cool-title {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-title::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #000;
    transition: width .3s;
}

.cool-title:hover::after {
    width: 100%;
    //transition: width .3s;
}
/*Cool link title*/

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #eee !important;
    transition: width .6s ease;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #000 !important;
    border-radius: .25rem;
    margin-bottom: 30px !important;
}